@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Milonga&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Uchen&display=swap');


:root{
    --primary-color:#AE0E28;
    --secondary-color:#870524;
    --brown-color:#590813;
    --light-pink:#b3003f;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  "Marcellus","Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
::-webkit-scrollbar-track {
    background-color:transparent;

  }
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color)
  }

html{
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}
body{
    overflow-x: hidden;
    overflow-x: clip !important;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 60px;
    height: 60px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #ae0e28;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebottom;
    animation-duration: 0.5s
  }
  
  @-webkit-keyframes animatebottom {
    from {opacity:0 } 
    to { opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{opacity:0 } 
    to{opacity:1 }
  }
  
#site-content {
    display: none;
}  

header{
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:0 2rem ;
    box-shadow: 0px 10px 10px -15px #111; 
    position: sticky;
    top: 0;
    z-index: 1000;
    }

#headerLogo{
    margin-left: 2rem;
    width: 5rem;
}

.mobile-heading, .mobile-sub-heading{
    display: none;
}


.nav-items{
    position: relative;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    margin-right: 0.5rem;

}
.nav-items::after{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 0%;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    transition: 0.4s all;

}
.nav-items:hover::after{
    width: 100%;
}

#header-action-btn{
    margin-left: 2rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;

}
#header-action-btn:hover{
    opacity: 0.8;
}

.open-menu, .close-menu{
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
    color:white;
}
#check{
    display:none;
}

.hide{
    width: 100%;
    height: 100%;
    background-color: rgba(107, 105, 105, 0.233);
    position: absolute;
    top: 0;
    overflow: hidden;
}

#booking-window{
    width: 80%;
    height: 80%;
    z-index: 1000;
    margin: auto;
    overflow:hidden;
    padding: 1rem 0rem;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;  
 
}
#booking-window button{
    width: 10%;
    background-color: transparent;
    font-size: 1rem;
    float: right;
    border: none;
    cursor: pointer;
    outline: none;
}
#booking-window button:hover{
    color: var(--primary-color);
    transform: scale(1.2);
}
#booking-window iframe{
    padding: 2rem;
    width: 100%;
    height: 100%;
    
}


/* ---------  Home  ------ */

.slideshow-container {
    position: relative;
    margin: 1rem 3rem;
    height: auto;
  }

.mySlides {
    display: none;
    z-index: -1;
}

.mySlide-img {
    object-fit: contain;
    width: 50%;
    height: 25rem;
}
.mySlides-text {
    position: absolute;
    top:0;
    right: 0;
    margin-right: 0rem;
    z-index: 10;
    padding: 2rem;
    padding-right: 0rem;
    width: 50%;
    border-radius: 20px;
}

.mySlides h2{
    font-size: 2rem;
    font-weight: 900;
    color: var(--light-pink);
}
.mySlides-text p{
    font-size: 1.3rem;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}


.action-btn{
    padding: 1rem 2rem;
    background-color:transparent;
    color:white;
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: 1s all;
}
.action-btn:hover{
    font-size: 110%;
    transition: 1s all;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: 0.8} 
  to {opacity: 1}
}


.review-slider{
  width: 90%;
  overflow:hidden;
  position: relative;
  /* bottom: 3rem;
  right: 5rem; */
  padding: 1rem;
  margin: auto;
  border-bottom: 1px solid rgba(90, 90, 90, 0.3);
}

.review-slider::before, .review-slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
.review-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

.review-slider::before {
    left: 0;
    top: 0;
}

.r-slider-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(400px * 5);
}
.r-slider-track:hover{
    animation-play-state: paused;
}
.r-slide {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    padding: 1rem;
    border-radius: 20px;
    width: 400px;
    margin-right: 1rem;
    transition: all 1.5s;
}
.r-slide:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    transition: all 1.5s;
    padding: 1rem;
    border-radius: 20px;
    width: 400px;
    margin-right: 1rem;
    transform: scale(1.1);
}

.r-slide p{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.r-user-profile{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.r-user-profile img{
    width: 4rem;
}
.r-slide .r-location{
    font-size: 0.6rem;
    padding: 0.5rem 0rem;
}
.r-slide i{
    color: rgb(233, 190, 0);
}
.r-slide q{
    font-size: 0.8rem;

}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-200px * 4))}
  }
  




/* ------Why us-------------- */



#whyus-heading{
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 900;
    color: var(--light-pink);
}


.ws-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    padding: 2rem 0rem;
    margin: 0rem 2rem;  
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3);
}
.ws-items:nth-of-type(odd){
    margin-top: 4rem;
}
.ws-items{
    padding: 1rem 2rem;
}
.ws-items-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3rem;
    gap: 1rem;
    overflow: hidden;


}
.ws-items img{
    width: 8rem;
    margin-right: 1rem;
    filter: drop-shadow(0px 1000px 0 var(--primary-color));
    transform: translateY(-1000px);
}
.ws-items-head h2{
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-weight: 700;
}

.ws-items p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
}

.ws-items h2 i{
    font-size: 3.5rem;
    margin-right: 0.5rem;
}

/* ------- Why us 2 ------- */

.ws2-container-upper {
    text-align: center;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
}
.ws2-container-upper h2{
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--light-pink);
}
.ws2-container-upper p{
    margin-bottom: 3rem;
    margin: 1rem;
}
.ws2-table{
    color: rgb(57, 57, 57);
    text-align: left;
    margin-top: 2rem;
}
.ws2-table ,tr ,td,th{
    border: 1px solid rgba(136, 135, 135, 0.2);
    border-collapse: collapse;
    padding: 2rem;
}
.ws2-table th:nth-child(2){
    font-size: 1.5rem;
}
.ws2-table td:nth-child(2) , th:nth-child(2){
    background-color: #f7dfdf;
    
}
.ws2-table td{
    width: 33%;
}

.ws2-container-upper img{
    width: 10%;
}


.ws2-container-lower{
    background-color: var(--light-pink);
    color: white;
    text-align: center;
    padding: 0rem 2rem;
}
.lower-container{
    width: 90%;
    margin: auto;
}
.ws2-lower-heading{
    font-size: 2rem;
    padding: 2rem;
}
.ws2-container-lower p{
    padding-bottom: 2rem;
}
.ws2-numbers{
    display: inline-block;
    padding: 2rem;
}
.ws2-numbers h2{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}



/* ------ Services ------- */

#services{
    padding: 1rem;
    
}

#services h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--light-pink);
}
#services p{
    padding: 1rem 5rem;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.ser-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3);
}
.ser-tab{
    margin: 1rem auto;
    width: 80%;
    background: #fff;
    border-radius: 5px;
}
.ser-tab label{
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    cursor: pointer;
    color:white;
    background-color: var(--light-pink);
    border-radius: 5px 5px 0px 0px;
    font-weight: 600;
}

.ser-container label + input[type="checkbox"]{
    display: none;
    transition: all 1s;
}

.ser-container .ser-tab-content{
    background-color: rgb(231, 227, 227);
    padding: 0rem 1rem;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 1s;
}
.ser-container label+input[type="checkbox"]:checked +.ser-tab-content{
    max-height:25rem;
    padding: 2rem;
    opacity: 1;
    transition: all 1s;
}
.ser-tab-content ul{
    padding-bottom: 2rem;
    padding-left: 1rem;
}
.ser-tab-content ul li{
    line-height: 2;
}

.ser-action-btn{
    background-color: var(--light-pink);
    color: white;
    padding: 1rem;
    text-decoration: none;

}

/* -----Owner centric------ */

#owner-centric{
    width: 100%;
}

#owner-centric h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--light-pink);
}

.oc-container{
    background-image: url("/assets/oc2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 1rem;

}
.oc-item{
    background-color: #5a595994;
    position: relative;
    padding: 3rem;
    line-height: 1.5;
    font-size: 1rem;
    color: white;
    width: 60%;
    margin: 2rem;
    text-align: center;
}

.oc-item h3{
    margin-top: 1rem;
}

#oc-brief{
    text-decoration: underline;
    margin-top: 2rem;
}

#oc-btn{
    display: block;
    padding: 1rem;
    color: white;
    cursor: pointer;
    background-color: var(--primary-color);;
    transition: all 0.5s;
    border: none;
    margin: 1rem auto;
}
#oc-btn:hover{
    background-color: #c71c39;
}


/* -------- Testimonials ----------- */

#testimonials{
    padding: 4rem 1rem ;
    background-color: #f2f2f2;
}
#testimonials h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--light-pink);
}
.testimonials-container{
    max-width: 80%;
    position: relative;
    margin: auto;
    border-radius: 20px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.925);    
    height: 30rem;
}
.testimonials-slides{
    display: none;
}
.testimonials-slides-img{
    object-fit: cover;
    height: 28rem;
    width: 50%;
    vertical-align: middle;
    border-radius: 20px;
}

.testimonials-prev, .testimonials-next{
    cursor: pointer;
    width: auto;
    position: absolute;
    top: 40%;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: black;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.925);
    font-weight: 600;
}
.testimonials-next{
    right: -4rem;
}
.testimonials-prev{
    left: -4rem;
}

.testimonials-prev:hover , .testimonials-next:hover{
    color: white;
    background-color: var(--primary-color)
}
.testimonials-text {
    border-radius: 20px;
    color: rgb(57, 57, 57);
    font-size: 1rem;
    padding: 1rem;
    position: relative;
    float: right;
    width: 45%;
    text-align: center;
    margin-right: 2rem;
}
.t-comment{
    font-size: 1.5rem;
    margin: 2rem 0rem;
    line-height: 1.5;
}
.t-comment::before{
    content: "\0022";;
}
.t-comment::after{
    content: "\0022";;
}
.t-location{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    color: rgb(76, 76, 76);
}
.t-link{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(77, 76, 76);
    font-weight: 600;

}
.t-link:hover{
    cursor: pointer;
    color: rgba(219, 17, 17, 0.767);
}

.testimonials-dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: #717171;
  }

.tactive{
    background-color: #111;
    transform: scale(1.5);
}

/* ---- Contact us ----- */
  
#contactus{
    width: 100%;
    padding: 2rem;
    padding-bottom: 4rem;
}
#contactus h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--light-pink);
}
.cu-container{
    display: flex;
    justify-self:center;
    align-items: center;
    gap: 1rem;
}

.cu-map{
    width: 50%;
    height: 100%;
    background-color: white;
}
.cu-form-container{
    box-shadow: #c27a86 0px 1px 2px 0px, #ad6571 0px 1px 3px 1px;
    padding: 2rem;
    padding-bottom: 0rem;
    width: 40%;
    margin: auto;
    border-radius: 10px;
}
.cu-form-container h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}
.cu-form-container p{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--primary-color);
}
.cu-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} 
.cu-form-container form .cu-inputs{
    padding: 1rem;
    width: 100%;
    margin: 0rem 1rem;
    outline: none;
}
.cu-form-container form textarea{
    padding: 1rem;
    width: 100%;
    margin: 0rem 1rem;
    resize: none;
    height: 8rem;
}
#cu-name-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.cu-name{
    padding: 1rem;
    width: 100%;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.cu-inputs[type='button']{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    border: none;
    font-weight: 800;
}
.cu-inputs[type='button']:hover{
    background-color: #ae0e29ce;
}

.cu-form-container form p{
    font-size: 0.8rem;

}



footer{
    width: 100%;
    background-color: var(--brown-color);
    color: white;
}

.footer-upper{
    display: flex;
    justify-content:space-evenly;
    gap: 2rem;
    padding: 4rem 0rem 2rem 4rem; 

}
.footer-contact{
    width: 20rem;
    padding: 1rem;
}
.footer-contact p{
    margin-top: 0.5rem;
}
.footer-contact .contact img{
    background-color: rgb(300, 300, 300);
    object-fit: contain;
    padding: 10px;
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
}
.footer-contact .contact{
    font-weight: 200;
    margin-bottom: 2rem;
}

.footer-contact .social h3{
    margin-bottom: 2rem;
}
.footer-contact .social img{
    padding-right: 1rem;
    width: 3rem;
}
.footer-contact .social img:hover{
    scale: 1.5;
    transition: all 0.3s;
}


.footer-services{
    font-weight: 200;
    width: 20rem;
    padding: 1rem;
}
.footer-services ul{
    margin-top: 2rem;

}

.footer-services ul li{
    cursor: pointer;
    line-height: 2;
    list-style-type: none;
    margin-top: 0.5rem;
    width: fit-content;
}

.footer-contact-form{
    width: 20rem;
    padding: 1rem;
}
.footer-contact-form h2{
    margin-bottom: 2rem;
}
.footer-contact-form input{
    display: block;
    margin-top: 1rem;
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid white;
    background-color: transparent;
    color: white;

}
#footer-contact-description{
    margin-top: 1rem;
    padding: 0.5rem;
    height: 5rem;
    width: 100%;
    outline: none;
    resize: none;
    border-radius: 3px;    
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

#footer-form-submit{
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: 800;
    padding: 0.5rem;
    border: none;
}

#footer-form-submit:hover{
    background-color: #ae0e299a;
    transition: all 0.5s;
}

#result{
    display: none;
    background-color: white;
    color: green;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    border-radius: 20px;
}


.quick-links{
    width: 20rem;
    padding: 1rem;
}
#footer-quick-links{
    margin: 2rem;
}
.quick-links a{
    text-decoration: none;
    color:white;
    display: block;
    margin-top: 1rem;
    font-weight: 200;
    width: fit-content;

}

.quick-links a:hover{
    text-decoration: underline;
    transition: all 0.6s;
}

.footer-lower{
    border-top: 0.5px solid rgba(255, 255, 255, 0.445);
}
.footer-lower p{
    padding: 2rem;
}


@media screen and (max-width:1024px){
    header{
        padding: 2rem;
        padding-right: 4rem;
    }
    .mobile-heading
    {
        display: block;
        font-size: 1.6rem;
        font-weight: 200;
        text-align: center;
        color: #AE0E28;
    }
    .mobile-sub-heading{
        display: block;
        font-size: small;
        font-weight: 300;
        color: var(--dark-brown-color);
        letter-spacing: 0.1rem;
    }
    #headerLogo{
        width: 3.5rem;
        margin-left: -1rem;
    }
    
    
    #header-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top:0;
        right: -100%;
        z-index: 100;
        background-color:var(--primary-color);
        transition: all 1s;
    }
    .nav-items{
        color: white;
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    .nav-items::after{
        background-color: white;
    }
    .nav-items:hover::after{
        background-color: white;
    }
    #header-action-btn{
        background-color: white;
        color: var(--primary-color);
        font-weight: 800;
        margin: 1rem 0.5rem 0rem 0.5rem ;
        font-size: 1rem;
    
    }
    .open-menu, .close-menu{
        display: block;
    }
    .open-menu{
        color: white;
        background-color: var(--primary-color);
        border-radius: 5px;
        padding: 6px 12px;
    }
    #check:checked ~ #header-menu{right: 0;}
    
    #booking-window{
        margin: 0rem;
        width: 95%;
        border-radius: 0px;
        margin: 0rem 0.5rem;
    }
    #booking-window button{
        font-size: 1.2rem;
        margin-right: 1rem;
    }
    #booking-window iframe{
        padding: 0rem;
    }

    .slideshow-container{
        margin: 1rem;
        height: 40%;
    }
    
      
    .mySlide-img {
        object-fit: cover;
        width: 100%;
        height: auto;
        
    }
    .mySlides-text {
        text-align: center;
        position: relative;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        top: 0;
    }
    .mySlides-text h2{
        font-size: 1.5rem;
    }
    .mySlides-text p{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
 
    
    .mySlides-text .action-btn{
        font-size: 1rem;
        padding: 1rem;
        font-weight: 500;
        background-color: var(--primary-color);
        color: white;
    }
    .review-slider{
        margin: 0;
        width: 100%;
    }
    
    .r-slider-track {
        animation: scroll 20s linear infinite;
        display: flex;
        width: calc(300px * 6);
    }
    .r-slide{
        width: 300px;
    }
    .r-slide:hover {
        width: 200px;
        margin-bottom: 1rem;
    }

   
    .ws-items, .ws-items:nth-of-type(odd){
        margin: 0;
        margin-top: 1rem;
    }
    
    .ws-items h2 {
        text-align: left;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        line-height: 1.5;
       
    }
    
    #whyus-heading{
        font-size: 2rem;
        padding: 0rem 1rem;
    }
    .ws-container{
        grid-template-columns: 1fr;
    }

    .ws2-container-upper{
        padding: 1rem;
    }

    .ws2-container-upper h2{
        font-size: 1.5rem;
    }
    .ws2-container-upper p{
        font-size: 0.8rem;
    }
    .ws2-table td, th{
        font-size: 0.6rem;
    }
    .ws2-table th:nth-child(2){
        font-size: 0.6rem;
    }

    .ws2-table ,tr ,td,th{
        border: 1px solid rgba(136, 135, 135, 0.2);
        border-collapse: collapse;
        padding:1rem;
    }
    .ws2-container-lower{
        padding: 1rem;
    }

    
    .lower-container{
        width: 70%;
    
    }
    .ws2-numbers{
        padding: 1rem;
    }
    .ws2-numbers h2{
        font-size: 2rem;
    }
    
    
     #services h2{
        font-size: 2rem;
        padding: 0rem 1rem;
     }
    
     .ser-tab{
        width: 100%;
        padding: 0;
     }
     #owner-centric{
        padding: 0rem;
     }
    .oc-container{
        width: 100%;
    }
    #owner-centric h2{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .oc-container h3{
        font-size: 1rem;
    }
    .oc-container p{
        font-size: 0.8rem;
    }
    .oc-container{
        background-position: 40%;
        background-attachment: fixed;
        margin: 0rem;
        width: 100%;
        padding: 0;
    }
    .oc-item{
        margin: 0;
        width: 100%;
    }
    #contactus{
        padding: 1rem 0rem;
    }
    .cu-container{
        flex-direction: column-reverse;
    }
    .cu-map{
        width: 95%;
        margin-bottom: 2rem;
    }
    .cu-map iframe{
        height: 400px;
    }
    .cu-form-container{
        width: 100%;
        box-shadow: none;
    }
    .testimonials-container{
        max-width: 100%;
        position: relative;
        margin: auto;
        border-radius: 20px;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.925);    
        height: 50rem;
    }
    .testimonials-slides-img{
        width: 100%;
    }
    
    .testimonials-text{
            width: 100%;
            margin-right: 0rem;
            padding: 0;
    }
    
    .t-location{
        margin-bottom: 2rem;
    }
    
    .footer-upper{
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
    }
}

@media screen and (max-width:550px){
    .testimonials-container{
        height: 35rem;
    }
    .testimonials-slides-img{
        width: 100%;
        height: 15rem;
    }

    .testimonials-prev, .testimonials-next{
        display: none;
    }
    .t-comment{
        font-size: 1rem;
    }
    .testimonials-dot{
        width: 10px;
        height: 10px;
    }
}


