@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#AE0E28;
    --secondary-color:#870524;
    --brown-color:#590813;
    --dark-brown-color:#320409;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:   sans-serif;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
::-webkit-scrollbar-track {
    background-color:transparent;

  }
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color)
  }

html{
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}
body{
    overflow-x: hidden;
  overflow-x: clip !important;
}

header{
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:0 2rem ;
    box-shadow: 0px 10px 10px -15px #111; 
    position: sticky;
    top: 0;
    z-index: 1000;
    }

#headerLogo{
    margin-left: 2rem;
    width: 5rem;
}

.mobile-heading, .mobile-sub-heading{
    display: none;
}


.nav-items{
    position: relative;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;

}
.nav-items::after{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 0%;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 30%;
    transition: 0.4s all;

}
.nav-items:hover::after{
    width: 100%;
}

#header-action-btn{
    margin-left: 2rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;

}
#header-action-btn:hover{
    opacity: 0.8;
}

.open-menu, .close-menu{
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
    color:white;
}
#check{
    display:none;
}


/* ---------  Home  ------ */

.slideshow-container {
    position: relative;
    margin: 1rem 3rem;
    height: 40%;
  }

.mySlides {
    display: none;
    z-index: -1;
}
.mySlides::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color:#32040954;
    border-radius: 20px;
    z-index: 1;
    height: 30rem;
    width: 50%;

}

.mySlide-img {
    object-fit: cover;
    width: 50%;
    height: 30rem;
    border-radius: 20px;
}
.mySlides-text {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0rem;
    color: var(--dark-brown-color);
    z-index: 100;
    padding: 2rem;
    width: 45%;
    border-radius: 20px;
}

.mySlides h2{
    font-size: 2.5rem;
}
.mySlides-text p{
    font-size: 1.5rem;
    padding: 1rem 0rem;
    margin-bottom: 0rem;
}

.mySlides-review{
    margin-bottom: 1rem;
    margin-top: 4rem;
    color: black;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.mySlides-review p{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.mySlides-review .review-location{
    font-size: 0.6rem;
    padding: 0.5rem 0rem;
}
.mySlides-review i{
    color: rgb(233, 190, 0);
}
.mySlides-review q{
    padding-top: 0.5rem;
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.2;
}

.action-btn{
    padding: 1rem 2rem;
    background-color:transparent;
    color:var(--primary-color);
    font-size: 20px;
    font-weight: 800;
    border: 2px solid var(--dark-brown-color);
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.action-btn:hover{
    background-color: var(--primary-color);
    color: white;
    transition: 0.5s all;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.9} 
  to {opacity: 1}
}



/* ------Why us-------------- */

#whyus{
    
    background-color: #f3f3f3;
    padding-top: 2rem; 
}

#whyus-heading{
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 500;
    color: var(--primary-color);
}

.ws-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    margin: 0rem 3rem;
    padding: 0rem;

}
.ws-items{
    padding: 1rem 2rem;
}
.ws-items h2{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.ws-items p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}
.ws-items h2 i{
    color: var(--primary-color);
    font-size: 3.5rem;
    margin-right: 0.5rem;
}

.ws-band{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    grid-template-rows: 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ws-band-items{
    padding: 1.5rem;
}
.ws-band-items img{
    margin-bottom: 1rem;
    width: 30%;
}
.ws-band-items p{
    margin-top: 1rem;
    font-weight: 200;
}


/* ------- Why us 2 ------- */

.ws2-container-upper {
    text-align: center;
    color: rgb(57, 57, 57);
    padding: 4rem;

}
.ws2-container-upper h2{
    font-size: 2.5rem;
    margin: 1rem;
}
.ws2-container-upper p{
    margin: 1rem;
}
.ws2-table{
    text-align: left;
    margin-top: 2rem;
}
.ws2-table ,tr ,td,th{
    border: 1px solid rgba(136, 135, 135, 0.2);
    border-collapse: collapse;
    padding: 2rem;
}
.ws2-table th:nth-child(2){
    font-size: 1.5rem;
}
.ws2-table td:nth-child(2) , th:nth-child(2){
    background-color: #f7dfdf;
    
}
.ws2-table td{
    width: 33%;
}

.ws2-container-upper img{
    width: 10%;
}


.ws2-container-lower{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem;
}
.lower-container{
    width: 90%;
    margin: auto;
}
.ws2-lower-heading{
    font-size: 1.5rem;
    padding: 2rem;
}
.ws2-container-lower p{
    padding-bottom: 2rem;
}
.ws2-numbers{
    display: inline-block;
    padding: 2rem;
}
.ws2-numbers h2{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}



/* ------ Services ------- */

#services{
    background-color: #f3f3f3;
    padding: 2rem 0rem;
}

#services h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: 400;
    color: var(--primary-color);
}
.ser-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 1rem;
    width: 95%;
    margin: 4rem auto ;

}
.card {
    background-color: white;
    box-shadow: 0 10px 20px rgba(212, 109, 109, 0.151) ;
    border-radius: 8px;
    color:black;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    border: 1px solid var(--primary-color);
  }
  
  .card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: start;
    text-align: center;
    height: 100%;
  }
  .card-content img{
    width:100%;
    margin-bottom: 1rem;
    object-fit:contain;
  }

  .card-content .card-title {
    font-size: 1rem;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
  
  .card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
  }
  
  .card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  

/* -----Owner centric------ */

#owner-centric{
    width: 100%;
    background-image: url("/assets/slide2.jpg");
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 3rem;
}

#owner-centric::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.671);

}
#owner-centric h2{
    padding: 3rem;
    font-size: 3rem;
    color:white;
    font-weight: 300;
    position: relative;
}

.oc-container{
    position: relative;
    width: 60%;
    color: white;
    padding: 0rem 3rem;
    padding-bottom: 2rem;
    height: fit-content;

}

.oc-item h3{
    margin-top: 1rem;
}
.oc-item{
    line-height: 1.5;
    z-index: 1000;
    font-size: 1rem;
    text-align: justify;
}

#oc-btn{
    display: block;
    padding: 1rem;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s;
    margin-top: 2rem;
}
#oc-btn:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}


/* -------- Testimonials ----------- */

#testimonials{
    padding: 4rem 1rem ;
    background-color: #f2f2f2;
}
.testimonials-container{
    max-width: 80%;
    position: relative;
    margin: auto;
    border-radius: 20px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.925);    
    height: 30rem;
}
.testimonials-slides{
    display: none;
}
.testimonials-slides-img{
    object-fit: cover;
    height: 28rem;
    width: 50%;
    vertical-align: middle;
    border-radius: 20px;
}

.testimonials-prev, .testimonials-next{
    cursor: pointer;
    width: auto;
    position: absolute;
    top: 40%;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: black;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.925);
    font-weight: 600;
}
.testimonials-next{
    right: -4rem;
}
.testimonials-prev{
    left: -4rem;
}

.testimonials-prev:hover , .testimonials-next:hover{
    color: white;
    background-color: var(--primary-color)
}
.testimonials-text {
    border-radius: 20px;
    color: rgb(57, 57, 57);
    font-size: 1rem;
    padding: 1rem;
    position: relative;
    float: right;
    width: 45%;
    text-align: center;
    margin-right: 2rem;
}
.t-comment{
    font-size: 1.5rem;
    margin: 2rem 0rem;
    line-height: 1.5;
}
.t-comment::before{
    content: "\0022";;
}
.t-comment::after{
    content: "\0022";;
}
.t-location{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    color: rgb(76, 76, 76);
}
.t-link{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(77, 76, 76);
    font-weight: 600;

}
.t-link:hover{
    cursor: pointer;
    color: rgba(219, 17, 17, 0.767);
}

.testimonials-dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: #717171;
  }

.tactive{
    background-color: #111;
    transform: scale(1.5);
}


  






footer{
    width: 100%;
    background-color: var(--dark-brown-color);
    color: white;
}

.footer-upper{
    display: flex;
    justify-content:space-evenly;
    gap: 2rem;
    padding: 4rem 0rem 2rem 4rem; 

}
.footer-contact{
    width: 20rem;
    padding: 1rem;
}
.footer-contact p{
    margin-top: 0.5rem;
}
.footer-contact .contact img{
    background-color: rgb(300, 300, 300);
    object-fit: contain;
    padding: 10px;
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
}
.footer-contact .contact{
    font-weight: 200;
    margin-bottom: 2rem;
}

.footer-contact .social h3{
    margin-bottom: 2rem;
}
.footer-contact .social img{
    padding-right: 1rem;
    width: 3rem;
    mix-blend-mode:luminosity;
}
.footer-contact .social img:hover{
    scale: 1.5;
    transition: all 0.3s;
    mix-blend-mode: normal;
}


.footer-services{
    font-weight: 200;
    width: 20rem;
    padding: 1rem;
}
.footer-services ul{
    margin-top: 2rem;

}

.footer-services ul li{
    cursor: pointer;
    line-height: 2;
    list-style-type: none;
    margin-top: 0.5rem;
    width: fit-content;
}

.footer-contact-form{
    width: 20rem;
    padding: 1rem;
}
.footer-contact-form h2{
    margin-bottom: 2rem;
}
.footer-contact-form input{
    display: block;
    margin-top: 1rem;
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid white;
    background-color: transparent;
    color: white;

}
#footer-contact-description{
    margin-top: 1rem;
    padding: 0.5rem;
    height: 5rem;
    width: 100%;
    outline: none;
    resize: none;
    border-radius: 3px;    
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

#footer-form-submit{
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    background-color: white;
    color: var(--primary-color);
    font-weight: 800;
    padding: 0.5rem;
}
#footer-form-submit:hover{
    opacity: 0.9;
}

.quick-links{
    width: 20rem;
    padding: 1rem;
}
#footer-quick-links{
    margin: 2rem;
}
.quick-links a{
    text-decoration: none;
    color:white;
    display: block;
    margin-top: 1rem;
    font-weight: 200;
    width: fit-content;

}

.quick-links a:hover{
    text-decoration: underline;
    transition: all 0.6s;
}

.footer-lower{
    border-top: 0.5px solid rgba(255, 255, 255, 0.445);
}
.footer-lower p{
    padding: 2rem;
}


@media screen and (max-width:1024px){
    header{
        padding: 2rem;
        padding-right: 4rem;
    }
    .mobile-heading
    {
        display: block;
        font-size: 1.6rem;
        font-weight: 200;
        text-align: center;
        color: #AE0E28;
    }
    .mobile-sub-heading{
        display: block;
        font-size: small;
        font-weight: 300;
        color: var(--dark-brown-color);
        letter-spacing: 0.1rem;
    }
    #headerLogo{
        width: 3.5rem;
        margin-left: -1rem;
    }
    
    
    #header-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top:0;
        right: -100%;
        z-index: 100;
        background-color:var(--primary-color);
        transition: all 1s;
    }
    .nav-items{
        color: white;
        margin-top: 1rem;
        font-size: 1rem;
    }
    .nav-items::after{
        background-color: white;
    }
    .nav-items:hover::after{
        background-color: white;
    }
    #header-action-btn{
        background-color: white;
        color: var(--primary-color);
        font-weight: 800;
        margin: 1rem 0.5rem 0rem 0.5rem ;
        font-size: 1rem;
    
    }
    .open-menu, .close-menu{
        display: block;
    }
    .open-menu{
        color: white;
        background-color: var(--primary-color);
        border-radius: 5px;
        padding: 6px 12px;
    }
    #check:checked ~ #header-menu{right: 0;}
    
    .slideshow-container{
        margin: 2rem;
        height: 40%;
    }
    
    .mySlides::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color:#32040954;
        border-radius: 20px;
        z-index: 1;
        height: 15rem;
        width: 100%;
    
    }
    
    .mySlide-img {
        object-fit: cover;
        width: 100%;
        height: 15rem;
        border-radius: 20px;
        
    }
    .mySlides-text {
        position: relative;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .mySlides-text h2{
        font-size: 1.3rem;
    }
    .mySlides-text p{
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .mySlides-review{
        margin-top: 2rem;
        margin-left: 0;
    }
    
    
    .mySlides-text .action-btn{
        font-size: 1rem;
        padding: 0.5rem 1rem;
        font-weight: 300;
        border: 1px solid var(--dark-brown-color) ;
    }
    
    .ws-items h2 {
        text-align: left;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        line-height: 1.5;
    }
    
    #whyus-heading{
        font-size: 2rem;
    }

    .ws-band{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        text-align: center;
    }

    .ws2-container-upper{
        padding: 1rem;
    }

    .ws2-container-upper h2{
        font-size: 1.5rem;
    }
    .ws2-container-upper p{
        font-size: 0.8rem;
    }
    .ws2-table td, th{
        font-size: 0.6rem;
    }
    .ws2-table th:nth-child(2){
        font-size: 0.6rem;
    }

    .ws2-table ,tr ,td,th{
        border: 1px solid rgba(136, 135, 135, 0.2);
        border-collapse: collapse;
        padding:1rem;
    }
    .ws2-container-lower{
        padding: 1rem;
    }

    
    .lower-container{
        width: 70%;
    
    }
    .ws2-numbers{
        padding: 1rem;
    }
    .ws2-numbers h2{
        font-size: 2rem;
    }
    
    .ser-container{
        padding: 0rem 2rem;
    }
     #services h2{
        font-size: 2rem;
        padding: 0rem 1rem;
     }
    
     #owner-centric{
        padding: 1rem;
     }
    .oc-container{
        width: 100%;
        margin: auto;
        padding: 0;
        height: auto;
    }
    #owner-centric h2{
        text-align: center;
        font-size: 1.5rem;
        padding: 2rem 0rem;
    }
    .oc-container h3{
        font-size: 1rem;
    }
    .oc-container p{
        font-size: 0.8rem;
    }
    
    .testimonials-container{
        max-width: 100%;
        position: relative;
        margin: auto;
        border-radius: 20px;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.925);    
        height: 50rem;
    }
    .testimonials-slides-img{
        width: 100%;
    }
    
    .testimonials-text{
            width: 100%;
            margin-right: 0rem;
            padding: 0;
    }
    
    .t-location{
        margin-bottom: 2rem;
    }
    
    .footer-upper{
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
    }
}

@media screen and (max-width:550px){
    .testimonials-container{
        height: 35rem;
    }
    .testimonials-slides-img{
        width: 100%;
        height: 15rem;
    }

    .testimonials-prev, .testimonials-next{
        display: none;
    }
    .t-comment{
        font-size: 1rem;
    }
    .testimonials-dot{
        width: 10px;
        height: 10px;
    }
}


