@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --primary-color:#AE0E28;
    --secondary-color:#870524;
    --brown-color:#590813;
    --light-pink:#b3003f;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color:transparent;

}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #555;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color)
}
html{
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}
body{
    overflow-x: hidden;
    overflow-x: clip !important;
}
header{
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:2rem;
    padding:0 2rem ;
    box-shadow: 0px 10px 10px -15px #111; 
    position: sticky;
    top: 0;
    z-index: 1000;
    }

#headerLogo{
    margin-left: 1rem;
    width:64px;
    height: 64px;
}
.mobile-heading, .mobile-sub-heading{
    display: none;
}
.nav-items{
    position: relative;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 14px;
    padding: 1rem 0.5rem;
    margin-right: 0.5rem;
}
.nav-items::after{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 0%;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    transition: 0.4s all;
}
.nav-items:hover::after{
    width: 100%;
}
#header-action-btn{
    margin-left: 2rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}
#header-action-btn:hover{
    opacity: 0.8;
}
.open-menu, .close-menu{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
    color:white;
}
#check{
    display:none;
}
/* ---------  Home  ------ */
.home-container {
    display: grid;
    grid-template-areas: 
    'home-left home-right';
    align-items: flex-start;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    margin: 0 2rem;
    gap: 5rem;
}
.home-img {
    object-fit: contain;
    width: 665px;
    height: 443px;
    border-radius: 20px;

}
.home-left{
    grid-area: home-left;
    width: 100%;
} 
.home-right{
    grid-area: home-right;
    width: 100%;
}
.home-left h2{
    font-size: 56px;
    font-family: "Plus Jakarta Sans";
    color: #AE0E28;
}
.home-left p, .home-left li{
    font-size: 18px;
    padding: 1rem 0rem;
    line-height: 1.5;
}
.home-left ul p{
    margin-top: 2rem;
    padding: 0;
    font-weight: 600;
}
.home-left ul li{
    margin-left: 2rem;
}
.home-left ul li strong{
    font-weight: 600;
}
.home-right{
    display: flex;
    flex-direction: column;
}
.home-right .customer-badge{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: right;
    margin-bottom: 2rem;
    
}
.customer-badge span:nth-child(1){
    width: 50%;
    padding: 2rem 1rem;
    border-radius: 20px;
    border-left: 3px solid #b3003f;
}
.customer-badge h2{
    font-size: 64px;
}
.customer-badge span:nth-child(1) p{
    font-size: 32px;
}
.customer-badge span:nth-child(2) p{
    font-size: 20px;
    text-align: center;
}
#customer-badge-btn{
    display: block;
    text-decoration: none;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    border: none;
    font-size: 25px;
    cursor: pointer;
    animation: 3s fade infinite;
    transition: 1s all ease;
}

@keyframes fade {
    0% { opacity: 1;}
    50%{opacity: 0.8;}
    100% { opacity: 1;}
}
.savetime-badge{
    width: 100%;
    padding: 4rem 2rem  0rem 2rem;
    float: right;
}
.savetime-badge p{
    font-size: 56px;
    display: inline-block;
}
.savetime-badge img{
    width: 75px;
    height: 82px;
    float: right;
}
.action-btn{
    padding: 1rem 3rem;
    color:white;
    font-size: 16px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: 1s all;
    margin-top: 2rem;
    display: inline-block;
}
.action-btn:hover{
    opacity: 0.8;
    transition: 1s all;
}
.review-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3);
}
.r-frame{
    width: 90%; 
    height: 400px;
    overflow: hidden;
}
#r-slider {
    display: flex;
    width: 3000px;
    transition: all 1s ease;
}
.r-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    margin-right: 1rem;
    transition: all 1.5s;
}

.r-slide p{
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.r-user-profile{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.r-user-profile img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border:1px solid rgba(0, 0, 0, 0.151);
}

.r-slide i{
    color: rgb(233, 190, 0);
    margin-top: 0.5rem;
}
.r-slide q{
    display: block;
    line-height: 2;
    font-size: 16px;
}
#r-prev, #r-next{
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #AE0E28;
    border: none;
    font-size: 16px;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}

#r-next:hover, #r-prev:hover{
    color: #AE0E28;
    transform: scale(1.3);
}

/* ------Why us-------------- */
#whyus-heading{
    text-align: center;
    margin-top: 3rem;
    font-size: 45px;
    margin-bottom: 3rem;
    color: var(--light-pink);
    font-family: "Plus Jakarta Sans";
}
.ws-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    padding: 2rem 0rem;
    margin: 0rem 2rem;  
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3);
}
.ws-items:nth-of-type(even){
    margin-top: 6rem;
}
.ws-items{
    padding: 1rem 2rem;
}
.ws-items-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3rem;
    gap: 1rem;
    overflow: hidden;


}
.ws-items img{
    width: 128px;
    height: 128px;
    margin-right: 1rem;
    filter: drop-shadow(0px 1000px 0 var(--primary-color));
    transform: translateY(-1000px);
}
.ws-items-head h2{
    text-align: left;
    font-size: 40px;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.ws-items p{
    font-size: 18px;
    line-height: 1.5;
}
.ws-items:nth-last-child(1){
    margin: 0;
}
#ws-graph{
    width: 524px;
    height: 391px;
    filter: none;
    transform: none;
    margin: auto;
    display: block;
    border: 1px solid rgb(196, 195, 195);
}
/* ------- Why us 2 ------- */
.ws2-container-upper {
    text-align: center;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
}
.ws2-container-upper h2{
    text-align: center;
    margin-top: 3rem;
    font-size: 45px;
    color: var(--light-pink);
    font-family: "Plus Jakarta Sans";
}
.ws2-container-upper p{
    margin-bottom: 3rem;
    margin: 1rem;
}
.ws2-table{
    color: rgb(57, 57, 57);
    text-align: left;
    margin:2rem auto;
}
.ws2-table ,tr ,td,th{
    border: 1px solid rgba(136, 135, 135, 0.2);
    border-collapse: collapse;
    padding: 2rem;
}
.ws2-table th:nth-child(2){
    font-size: 32px;
}
.ws2-table td:nth-child(2) , th:nth-child(2){
    background-color: #f7dfdf;
    
}
.ws2-table td{
    width: 33%;
}
.ws2-container-upper img{
    width:25px;
    height: 24.5px;
}
.ws2-container-lower{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 0rem 2rem;
}
.lower-container{
    width: 90%;
    margin: auto;
}
.ws2-lower-heading{
    font-size: 45px;
    padding: 2rem;
    font-family: "Plus Jakarta Sans";
}
.ws2-container-lower p{
    padding-bottom: 2rem;
}
.ws2-numbers{
    display: inline-block;
    padding: 2rem;
}
.ws2-numbers h2{
    font-size: 45px;
    margin-bottom: 1rem;
}
/* ------ Services ------- */
#services{
    padding: 1rem;
}
#services h2{
    text-align: center;
    margin: 3rem 0rem;
    font-size: 45px;
    color: var(--light-pink);
    font-family: "Plus Jakarta Sans";
}
.ser-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    width: 100%;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3);
    justify-content: center;
    gap: 1rem;
}
.ser-left, .ser-center{
    border-right: 1px solid rgba(90, 90, 90, 0.3); 
}
.ser-container h3{
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 600;
    padding-left: 0.5rem;
}
.ser-tab{
    width: 100%;
    margin-top: 0.5rem;
}
.ser-tab label{
    padding: 0.5rem;
    font-size: 14px;
    cursor: pointer;
    color: #592bfd;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.ser-tab i{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #e2e2e2;
    color: green;
    line-height: normal;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ser-tab i::before{
    margin: 5px;
}
.ser-container label + input[type="checkbox"]{
    display: none;
    transition: all 1s;
}
.ser-container .ser-tab-content{
    font-size: 12px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 1s;
    padding: 0rem 1.5rem;
    margin: 0rem 0.5rem;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3); 
}
.ser-container label+input[type="checkbox"]:checked +.ser-tab-content{
    max-height:25rem;
    opacity: 1;
    transition: all 1s;
}
.ser-tab-content ul{
    padding: 1rem;
}
.ser-tab-content ul li{
    line-height: 1.5;
}
.ser-tab-content p{
    text-align: left;
    font-size: 14px;
    padding: 1rem 0rem;
    color: var(--primary-color);
}
.ser-tab-content strong{
    font-weight: 600;
    color: var(--light-pink);
}
.ser-action-btn{
    text-decoration: none;
    font-weight: 600;
    color:var(--brown-color);
    margin-bottom: 1rem;
    display: block;
}
.ser-action-btn:hover{
    text-decoration: underline;
}
/* -----Owner centric------ */
#owner-centric{
    width: 100%;
}
#owner-centric h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 45px;
    color: var(--light-pink);
    font-family: "Plus Jakarta Sans";
}
.oc-container{
    background-image: url("/assets/oc2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 1rem;
}
.oc-item{
    background-color: #5a595994;
    position: relative;
    padding: 3rem;
    line-height: 1.5;
    font-size: 18px;
    color: white;
    width: 60%;
    margin: 2rem;
    text-align: center;
}
.oc-item h3{
    margin-top: 1rem;
}
#oc-brief{
    text-decoration: underline;
    margin-top: 2rem;
}
#oc-btn{
    display: block;
    padding: 1rem;
    color: white;
    cursor: pointer;
    background-color: var(--primary-color);;
    transition: all 0.5s;
    border: none;
    margin: 1rem auto;
}
#oc-btn:hover{
    background-color: #c71c39;
}
/* -------- Testimonials ----------- */
#testimonials{
    padding: 4rem 0rem;
    margin: 0rem 1rem;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3); 
}
#testimonials h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 45px;
    color: var(--light-pink);
    font-family: "Plus Jakarta Sans";
}
.testimonials-container{
    width: 90%;
    position: relative;
    margin: auto;
}
.testimonials-slides{
    display: none;
}
.testimonials-slides-img{
    object-fit: contain;
    width: 647px;
    height: 548px;
    border-radius: 5px;
  filter: grayscale(90%);
}
.testimonials-prev, .testimonials-next{
    cursor: pointer;
    width: auto;
    position: absolute;
    top: 40%;
    padding: 1rem;
    margin-top: 1rem;
    color: black;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.1);   
    background-color: rgba(255, 255, 255, 0.925);
    font-weight: 600;
}
.testimonials-next{
    right: -4rem;
}
.testimonials-prev{
    left: -4rem;
}
.testimonials-prev:hover , .testimonials-next:hover{
    color: white;
    background-color: var(--primary-color)
}
.testimonials-text {
    border-radius: 5px;
    color: rgb(57, 57, 57);
    font-size: 16px;
    line-height: 1.5;
    padding: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 25%);
    background-color: white;
    border-bottom: 5px solid #AE0E28;
    width: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.t-top-heading{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--primary-color);

}
.t-comment{
    margin-top: 2rem;
    font-size: 16px;
    line-height: 1.5;
}
.t-comment::before{
    content: "\0022";;
}
.t-comment::after{
    content: "\0022";;
}
.t-profile{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.t-profile span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.t-profile span img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
}
.t-name{
    font-weight: 600;
    display: inline-block;
}
.t-location{
    font-size: 12px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    color: rgb(76, 76, 76);
}
.t-link{
    font-size: 14px;
    text-decoration: none;
    color: rgb(77, 76, 76);
}
.t-link:hover{
    cursor: pointer;
    color: rgba(219, 17, 17, 0.767);
}
.testimonials-dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: #717171;
}
.tactive{
    background-color: #111;
    transform: scale(1.5);
}
/* ---- Contact us ----- */
#contactus{
    width: 100%;
    padding: 0rem 2rem;
}
#contactus h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 45px;
    color: var(--light-pink);
    font-family: "Plus Jakarta Sans";
}
.cu-container{
    display: flex;
    justify-self:center;
    align-items: start;
    gap: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3);
}
.cu-location{
    width: 50%;
    height: 100%;
}
.tab {
    overflow: hidden;
    background-color: #AE0E28;
}

.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    transition: 0.3s;
    font-size: 17px;
    background-color: transparent;
    color: white;
}

.tab button:hover {
    background-color: #AE0E28;
}

.tab button.active {
    background-color: var(--secondary-color);
}

.tabcontent {
    display: none;
}
.tab-img{
    width: 100%;
    height: auto;
}
.cu-form-container{
    width: 40%;
    margin: auto;
}
.cu-form-container h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 25px;
    color: var(--primary-color);
}
.cu-form-container p{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 16px;
}
.cu-form-container form {
    padding: 2rem 3rem 1rem 3rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} 
.cu-form-container form .cu-inputs{
    padding: 1rem;
    width: 100%;
    margin: 0rem 1rem;
    outline: none;
}
.cu-form-container form textarea{
    padding: 1rem;
    width: 100%;
    margin: 0rem 1rem;
    resize: none;
    height: 6rem;
}
#cu-name-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.cu-name{
    padding: 1rem;
    width: 100%;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cu-inputs[type='submit']{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    border: none;
    font-weight: 500;
}
.cu-inputs[type='button']:hover{
    background-color: #ae0e29ce;
}
#cu-result{
    display: none;
    background-color: white;
    color: green;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}
.cu-form-container p:nth-last-child(1){
    padding: 0rem 1rem;
    text-align: left;
    font-size: 14px;
}
/* ----- FAQs ------ */
#faqs{
    width: 100%;
    padding: 0rem 1rem;
}
.faqs-accordion__wrapper {
    width: 100%;
    max-width: 70rem;
    padding: 5rem;
    margin: auto;
}
.faqs-accordion__title{
    font-size: 45px;
    color: var(--light-pink);
    text-align: center;
    margin-bottom: 4rem;
    font-family: "Plus Jakarta Sans";
}
.faqs-accordion {
    border-bottom: 1px solid rgb(151, 150, 150);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.faqs-accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.faqs-accordion__question{
    font-size: 18px;
    color: var(--primary-color)
}
.faqs-accordion__header::after {
    content: '\002B';
    color: var(--primary-color);
    font-size:32px;
    margin-right: 1rem;
  }
  .faqs-active:after {
    content: "\2212";
  }
.faqs-accordion__answer{
    padding: 2rem 0;
    line-height: 1.5;
}
.faqs-accordion__content{
    overflow: hidden;
    max-height: 0;
    transition: 0.4s ease-in-out;
}
/* --- Footer ---  */
footer{
    width: 100%;
    background-color: var(--brown-color);
    color: white;
}
.footer-upper{
    display: flex;
    justify-content:space-evenly;
    gap: 2rem;
    padding: 4rem 0rem 2rem 4rem; 
    align-items:flex-start;
}
.footer-contact{
    width: 25rem;
    flex: 0.5 1 auto;
}
#footer-address{
    margin-top: 1rem;
}
.footer-contact p{
    font-size: 14px;
    line-height: 1.5;
}
.footer-contact .contact img{
    background-color: rgb(300, 300, 300);
    object-fit: contain;
    padding: 10px;
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
}
.footer-contact .contact{
    margin-bottom: 2rem;
}
.footer-contact .social h3{
    margin-bottom: 2rem;
    font-family: "Plus Jakarta Sans";
}
.footer-contact .social img{
    margin-right: 1rem;
    width: 32px;
    height: 32px;
}
.footer-contact .social img:hover{
    scale: 1.5;
    transition: all 0.3s;
}
.footer-services{
    width: 20rem;
    padding: 1rem;
}
.footer-services ul{
    margin-top: 2rem;

}
.footer-services ul li{
    cursor: pointer;
    list-style-type: none;
    width: fit-content;
    padding: 0.5rem 0rem;
}
.footer-contact-form{
    width: 20rem;
    padding: 1rem;
}
.footer-contact-form h2{
    margin-bottom: 2rem;
    font-family: "Plus Jakarta Sans";
}
.footer-contact-form input{
    display: block;
    margin-top: 1rem;
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.footer-contact-form input:-webkit-autofill,
.footer-contact-form input:-webkit-autofill:hover,
.footer-contact-form input:-webkit-autofill:focus,
.footer-contact-form input:-webkit-autofill:active{
    border: 1px solid rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0px 1000px var(--brown-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}
#footer-contact-description{
    margin-top: 1rem;
    padding: 0.5rem;
    height: 5rem;
    width: 100%;
    outline: none;
    resize: none;
    border-radius: 3px;    
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
#footer-form-submit{
    font-size: 18px;
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    padding: 0.5rem;
    border: none;
}
#footer-form-submit:hover{
    background-color: #ae0e299a;
    transition: all 0.5s;
}
#fc-result{
    display: none;
    background-color: white;
    color: green;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 400;
}
.footer-services h2{
    font-family: "Plus Jakarta Sans";
}
.quick-links{
    width: 20rem;
    padding: 1rem;
}
.quick-links h2{
    font-family: "Plus Jakarta Sans";
}
#footer-quick-links{
    margin: 2rem;
}
.quick-links a{
    text-decoration: none;
    color:white;
    display: block;
    margin-top: 1rem;
    width: fit-content;
}
.quick-links a:hover{
    text-decoration: underline;
    transition: all 0.6s;
}
.footer-lower{
    border-top: 0.5px solid rgba(255, 255, 255, 0.445);
}
.footer-lower p{
    padding: 2rem;
}
@media screen and (max-width:1100px){
    header{
        padding: 0.5rem;
        padding-right: 4rem;
    }
    .mobile-heading
    {
        display: block;
        font-size: 18px;
        font-family: "Plus Jakarta Sans";
        text-align: center;
        color: #AE0E28;
    }
    .mobile-sub-heading{
        display: block;
        font-size: 8px;
        color: var(--dark-brown-color);
        letter-spacing: 0.1rem;
        text-align: center;
    }
    #header-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top:0;
        right: -100%;
        z-index: 100;
        background-color:var(--primary-color);
        transition: all 1s;
    }
    .nav-items{
        color: white;
        margin-top: 1rem;
    }
    .nav-items::after{
        background-color: white;
    }
    .nav-items:hover::after{
        background-color: white;
    }
    #header-action-btn{
        background-color: white;
        color: var(--primary-color);
        font-weight: 500;
        margin: 1rem 0.5rem 0rem 0.5rem ;
    }
    .open-menu, .close-menu{
        display: block;
    }
    .open-menu{
        color: white;
        background-color: var(--primary-color);
        border-radius: 5px;
        padding: 6px 12px;
    }
    #check:checked ~ #header-menu{right: 0;}
    .home-container {
        gap: 1rem;
        padding: 1rem;
        margin-top: 2rem;
        grid-template-areas:
        'home-left'
        'last'
        'home-right';
        grid-template-columns: 1fr;
    }
    .home-left{
        width: 100%;
    }
    .home-left h2{
        font-size: 40px;
    }
    .home-left p, .home-left li{
        font-size: 16px;
    }
    .home-right .customer-badge{
        margin-bottom: 4rem;
    }
    .customer-badge span:nth-child(1) p{
        font-size: 18px;
    }
    .customer-badge span:nth-child(2) p{
        font-size: 16px;
    }
    .customer-badge span:nth-child(2){
        width: 40%;
    }
    #customer-badge-btn{
        margin-top: 1rem;
        padding: 2rem 0.5rem;
        font-size: 25px;
        height: 10rem;
        border-radius: 0;
        text-align: center;
       
    }
    .home-right{
        align-items: center
    }
    .home-text p{
        margin-bottom: 1rem; 
    }
    .savetime-badge{
        margin: 2rem 0rem;
        padding: 0rem;
    }
    .savetime-badge p{
        font-size: 32px;
    }
    .savetime-badge img {
        margin-right: 2rem;
    }
    .r-frame {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    .r-frame::-webkit-scrollbar{
        width: 1px;
    }
    #r-slider{
        overflow-y: hidden;
        overflow-x: scroll;
        width: calc(350px*5);
    }
    .r-slide{
        width: 350px;
        padding: 0;
    }
    #r-prev, #r-next{
        display: none;
    }
    .r-slide q{
        font-size: 12px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #AE0E28;
        border: 8px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }

    .ws-items, .ws-items:nth-of-type(even){
        margin: 0;
        padding: 1rem 0rem;
        margin-top: 1rem;
    }
    .ws-items h2 {
        font-size: 25px;
        text-align: left;
        margin-bottom: 1rem;
        line-height: 1.5;
    }
    .ws-items img{
        width: 100px;
        height: 100px;
    }
    .ws-items p{
        font-size: 16px;
    }
    .ws-items-head{
        margin-bottom: 2rem;
    }
    #ws-graph{
        width:541px;
        height:406px;
    }
    #whyus-heading{
        padding: 0rem 1rem;
        font-size: 32px;
    }
    .ws-container{
        grid-template-columns: 1fr;
        margin: 0rem 1rem;
    }
    .ws2-container-upper{
        padding: 1rem;
    }
    .ws2-container-upper h2{
        font-size: 32px;
    }
    .ws2-table ,tr ,td,th{
        border: 1px solid rgba(136, 135, 135, 0.2);
        border-collapse: collapse;
        padding:0.8rem;
        font-size: 0.6rem;
    }
    .ws2-table th:nth-child(2){
        font-size: 18px;
    }
    .ws2-container-lower{
        padding: 1rem;
    }
    .ws2-lower-heading{
        font-size: 32px;
    }
    .lower-container{
        width: 70%;
    }
    .ws2-numbers{
        padding: 1rem;
    }
    .ws2-numbers h2{
        font-size: 32px;
    }
     #services h2{
        font-size: 32px;
        padding: 0rem;
     }
     #services p{
        font-size: 16px;
        padding: 1rem 0rem;
     }
     .ser-container{
        grid-template-columns:1fr;
        justify-items: center
     }
     .ser-tab{
        width: 100%;
        padding: 0;
     }
     .ser-left, .ser-center{
        border-right: none
    }
    .ser-left, .ser.right, .ser-center{
        margin-bottom: 2rem;
    }
    .ser-tab label, .ser-tab-content ul{
        padding: 0.5rem 0rem;
    }
     #owner-centric{
        padding: 0rem;
     }
    .oc-container{
        width: 100%;
    }
    #owner-centric h2{
        text-align: center;
        font-size: 32px;
        margin-top: 1rem;
    }
    .oc-container h3{
        font-size: 1rem;
    }
    .oc-container p{
        font-size: 0.8rem;
    }
    .oc-container{
        background-position: 40%;
        background-attachment: fixed;
        margin: 0rem;
        width: 100%;
        padding: 0;
    }
    .oc-item{
        margin: 0;
        padding: 2rem 1rem;
        width: 100%;
    }
    #contactus{
        padding: 1rem 0rem;
    }
    .cu-container{
        flex-direction: column-reverse;
    }
    .cu-location{
        width: 100%;
        padding: 1rem;
    }
    .tab .tablinks{
        font-size: 14px;
    }

    .cu-form-container{
        width: 100%;
        box-shadow: none;
        padding: 0rem 1rem;
    }
    #testimonials h2 {
        font-size: 32px;
    }
    .testimonials-container{
        width: 100%;
        position: relative;
    }
    .testimonials-slides{
        padding: 0rem;

    }
    .testimonials-slides-img{
        margin: auto;
        display: block;
        width: 100%;
        height: auto;
    }
    .testimonials-dot{
        width: 10px;
        height: 10px;
    }
    .testimonials-text {
        padding: 2rem;
        position: relative;
        margin: 2rem auto;
        width: 100%;
        display: block;
        transform: none;
    }
    .t-comment{
        font-size: 12px;
    }
    .t-profile{
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    .t-profile span img{
        width: 48px;
        height: 48px;
    }
    .t-name{
        font-weight:500;
        font-size: 16px;
    }
    #contactus h2{
        font-size: 32px;
    }
    .cu-form-container form {
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .cu-form-container h3{
        font-size: 25px;
    }
    .cu-form-container p {
        font-size: 14px;
    }
    .cu-form-container p:nth-last-child(1){
        padding: 0;
        font-size: 12px;
    }
    .cu-map{
        width: 100%;
        padding: 1rem;
    }
    .faqs-accordion__title{
        font-size: 32px;
    }
    .faqs-accordion__wrapper{
        padding: 1rem 0rem;
    }
    .faqs-accordion__question{
        font-size: 1rem;
    }
    .faqs-accordion__answer {
        font-size: 0.8rem;
        line-height: 1.5;
        padding: 1rem 0rem;
    }
    .footer-contact{
        width: 20rem;
    }
    .footer-contact-form , .footer-services, .quick-links {
        padding: 0rem;
    }
    .footer-upper{
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
    }
}
@media screen and (max-width:550px){
    .home-container {
        flex-direction: column-reverse;
        margin: 0rem;
      }
    .home-img{
        width: 340px;
        height: 243px;
    }
    #ws-graph{
        width: 286px;
        height: 215px;
    }
    
   
}